In [13]:
from tradinglab.stock_manager import * 
import pandas as pd

**Create a new Archive**

In [14]:
# Load stocks tickers 
df = pd.read_csv('.\data\FMIB_tickers.csv', index_col=[0])
tickers = df.index

In [15]:
# Initialize a new empty archive
data = stock_manager(archive='FMIB_stocks')

In [16]:
# Download 1 year data from yahoo
data.downlaod(tickers, '2018-1-1', '2018-12-31')

Downloading new records from 2018-1-1 to 2018-12-31.

c:\users\105034701\appdata\local\programs\python\python36\lib\site-packages\pandas_datareader\base.py:270: SymbolWarning: Failed to read symbol: 'NEXI.MI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

#252 records downloaded

In [17]:
# Check archive status
data.status()

First available record: 2018-01-02
Last available record:  2018-12-28
Total number of records: 360

In [18]:
# Update existing archive with most recent data
data.update()

Downloading new records from 2018-12-29 to 2020-01-05.
#254 records added to "data\FMIB_stocks.pkl"

In [19]:
# Check archive status
data.status()

First available record: 2018-01-02
Last available record:  2020-01-03
Total number of records: 731

**Work with an existing archive**

In [20]:
# Load archive
data = stock_manager(archive='FMIB_stocks')
data.status()

First available record: 2018-01-02
Last available record:  2020-01-03
Total number of records: 731

In [21]:
# Visualize stock tickers
data.tickers()

Tickers:
A2A.MI
AMP.MI
ATL.MI
AZM.MI
BAMI.MI
BPE.MI
BZU.MI
CNHI.MI
CPR.MI
DIA.MI
ENEL.MI
ENI.MI
EXO.MI
FBK.MI
FCA.MI
G.MI
HER.MI
IG.MI
ISP.MI
JUVE.MI
LDO.MI
MB.MI
MONC.MI
NEXI.MI
PIRC.MI
PRY.MI
PST.MI
RACE.MI
REC.MI
SFER.MI
SPM.MI
SRG.MI
STM.MI
TEN.MI
TIT.MI
TRN.MI
UBI.MI
UCG.MI
UNI.MI
US.MI
#40 tickers found in "data\FMIB_stocks.pkl".

In [22]:
# Get stock tickers list
ticker_list = data.ticker_list
print(ticker_list)

['A2A.MI', 'AMP.MI', 'ATL.MI', 'AZM.MI', 'BAMI.MI', 'BPE.MI', 'BZU.MI', 'CNHI.MI', 'CPR.MI', 'DIA.MI', 'ENEL.MI', 'ENI.MI', 'EXO.MI', 'FBK.MI', 'FCA.MI', 'G.MI', 'HER.MI', 'IG.MI', 'ISP.MI', 'JUVE.MI', 'LDO.MI', 'MB.MI', 'MONC.MI', 'NEXI.MI', 'PIRC.MI', 'PRY.MI', 'PST.MI', 'RACE.MI', 'REC.MI', 'SFER.MI', 'SPM.MI', 'SRG.MI', 'STM.MI', 'TEN.MI', 'TIT.MI', 'TRN.MI', 'UBI.MI', 'UCG.MI', 'UNI.MI', 'US.MI']

In [23]:
# Visualize stocks data
data.data.head()

Attributes Adj Close                                                     \
Symbols       A2A.MI     AMP.MI     ATL.MI     AZM.MI BAMI.MI    BPE.MI
Date
2018-01-02  1.398826  12.737254  24.540239  12.911083   2.644  3.928583
2018-01-03  1.393312  12.786548  24.624636  12.789825   2.590  3.900252
2018-01-04  1.442941  13.131596  24.962215  13.008108   2.664  4.006021
2018-01-05  1.464080  13.141455  25.468586  13.064741   2.640  4.015465
2018-01-08  1.462242  13.092162  25.318550  13.105133   2.690  4.009799

Attributes                                             ...      Volume  \
Symbols        BZU.MI    CNHI.MI    CPR.MI     DIA.MI  ...      SPM.MI
Date                                                   ...
2018-01-02  22.558758  10.853815  6.268392  73.040840  ...   7216825.0
2018-01-03  22.904598  10.902225  6.214142  73.383980  ...   6978060.0
2018-01-04  23.398659  11.241104  6.174687  74.364395  ...  15984969.0
2018-01-05  23.576519  11.308881  6.273324  75.295792  ...   7589655.0
2018-01-08  23.714855  11.541255  6.233870  78.482140  ...   7290423.0

Attributes                                                            \
Symbols         SRG.MI     STM.MI     TEN.MI       TIT.MI     TRN.MI
Date
2018-01-02   7736954.0  2515516.0  2445405.0   66072337.0  5921602.0
2018-01-03  11173603.0  3876386.0  2509224.0   54839157.0  6398177.0
2018-01-04  11878618.0  3745837.0  3197812.0   59740478.0  7613590.0
2018-01-05  10162870.0  2344444.0  2398078.0   58871069.0  8237905.0
2018-01-08   9239661.0  1909146.0  3091939.0  126179734.0  5336764.0

Attributes
Symbols         UBI.MI      UCG.MI     UNI.MI      US.MI
Date
2018-01-02  10990123.0  16562879.0  4616516.0  4668787.0
2018-01-03   9055372.0  13760071.0  4004992.0  5903083.0
2018-01-04  16224188.0  18957560.0  4587837.0  5910948.0
2018-01-05  10447182.0  13228956.0  3566657.0  5128716.0
2018-01-08   6767510.0  10993686.0  3149563.0  5511020.0

[5 rows x 240 columns]

In [24]:
# Get market data of a specific ticker
a2a = data.stock_price('A2A.MI')
a2a.head()

             Open   High    Low  Close  Adj Close      Volume
Date
2018-01-02  1.542  1.548  1.507  1.522   1.398826   8064937.0
2018-01-03  1.526  1.526  1.505  1.516   1.393312   8323296.0
2018-01-04  1.517  1.574  1.517  1.570   1.442941  13710193.0
2018-01-05  1.575  1.593  1.566  1.593   1.464080   8871141.0
2018-01-08  1.589  1.592  1.575  1.591   1.462242   4094274.0